@font-face {
    font-family: 'Myriad Pro';
    src: url('fonts/Myriad-Pro-Regular.eot');
    src: url('fonts/Myriad-Pro-Regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/Myriad-Pro-Regular.woff2') format('woff2'),
         url('fonts/Myriad-Pro-Regular.woff') format('woff'),
         url('fonts/Myriad-Pro-Regular.ttf')  format('truetype'),
         url('fonts/Myriad-Pro-Regular.svg#Myriad Pro') format('svg');
}