@font-face {
    font-family: 'AvertaStd';
    src: url('AvertaStd-Bold.eot');
    src: url('AvertaStd-Bold.eot?#iefix') format('embedded-opentype'),
        url('AvertaStd-Bold.woff2') format('woff2'),
        url('AvertaStd-Bold.woff') format('woff'),
        url('AvertaStd-Bold.ttf') format('truetype'),
        url('AvertaStd-Bold.svg#AvertaStd-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AvertaStd';
    src: url('AvertaStd-Bold_1.eot');
    src: url('AvertaStd-Bold_1.eot?#iefix') format('embedded-opentype'),
        url('AvertaStd-Bold_1.woff2') format('woff2'),
        url('AvertaStd-Bold_1.woff') format('woff'),
        url('AvertaStd-Bold_1.ttf') format('truetype'),
        url('AvertaStd-Bold_1.svg#AvertaStd-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AvertaStd';
    src: url('AvertaStd-Bold_2.eot');
    src: url('AvertaStd-Bold_2.eot?#iefix') format('embedded-opentype'),
        url('AvertaStd-Bold_2.woff2') format('woff2'),
        url('AvertaStd-Bold_2.woff') format('woff'),
        url('AvertaStd-Bold_2.ttf') format('truetype'),
        url('AvertaStd-Bold_2.svg#AvertaStd-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AvertaStd';
    src: url('AvertaStd-Bold_3.eot');
    src: url('AvertaStd-Bold_3.eot?#iefix') format('embedded-opentype'),
        url('AvertaStd-Bold_3.woff2') format('woff2'),
        url('AvertaStd-Bold_3.woff') format('woff'),
        url('AvertaStd-Bold_3.ttf') format('truetype'),
        url('AvertaStd-Bold_3.svg#AvertaStd-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

